
<form id="search_form">
	<h3>Search phone</h3>
	<div class="row">
		<div class="col-4"><input type="input" name="phone" class="form-control" autocomplete="false"></div>
		<div class="col-2"><button type="submit" class="btn btn-primary">Search</button></div>
	</div>
</form>
	
<div class="row error" style="display: none;">
	<div class="col-4">
		<div class="alert alert-danger" role="alert">
			
		</div>
	</div>
</div>


<table class="table table-hover" id="result_block" style="display: none;">
  <tbody>
    <tr>
      <th class="search_table_title">Name:</th>
      <td id="user_name">fsfsdf</td>
    </tr>
    <tr>
      <th>Operator:</th>
      <td id="operator">sfsdfsdf</td>
    </tr>
    <tr>
      <th>Phone:</th>
      <td id="phone">sdfsdfsfd</td>
    </tr>
	<tr>
      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>